/.idea
www/robots.txt

www/.htaccess
www/config.php
www/admin/config.php

!www/index.html

www/download/
www/system/cache/
www/system/logs/

www/system/storage/

# vQmod log files
www/vqmod/logs/*

# vQmod cache files
www/vqmod/vqcache/*
www/vqmod/checked.cache
www/vqmod/mods.cache

# Download Files
/www/system/download/*
!/www/system/download/index.html

# Image File
www/image/data/*
www/image/catalog/data/*

# Image Cache Files
/www/image/cache/*
!/www/image/cache/index.html

# dir, that can be used for backups and vqmod (if user will enable it).
www/backup/*
/www/vqgen/